.semantic-level-panel {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 10;
    padding: 4px 0;
    display: flex;
    gap: 12px;  

    .menu {
        margin: 1px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        button {
          width: 42px;
          height: 42px;
          @extend .panel-item;
        }      
      }
    }

    .dimension-memu {
      height: 48px;
      border: none;
      outline: none;
      div {
        @extend .panel-item;
      }
    } 


.panel-item {
    // height: fit-content;
    background: #ffffff77;
    backdrop-filter: blur(6px);
    border-radius: 12px;
    border: 2px solid #eee;
    outline: none;
    // color: #aaa;
    box-shadow: 0 0 35px 4px rgba(0,0,0,0.1);
}

button:hover,
.panel-item:hover {
    opacity: 0.9;
}

.button{
  transition: all 0.2s ease-in-out;
}
