.dimension-label {
  width: fit-content;
  height: fit-content;
  padding: 2px 8px;
  background: rgb(255, 255, 255);
  mix-blend-mode: screen;
  // border: 2px solid #b0b0b0;
  border-radius: 10px;
}