.cdx-gpt {
    background: rgba(245,235,111,0.29);
    padding: 3px 0;
    justify-content: center !important;
    left: 146.55px; 
    top: 29.5504px;

}

.custom-background-color {
    background-color: lightblue; 
    padding: 10px; 
}