.contact-button {
    background: #ffffff99;
    backdrop-filter: blur(6px);
    border-radius: 12px;
    border: 2px solid #eee;
    outline: none;
    box-shadow: 0 0 35px 4px rgba(0,0,0,0.1);
    box-shadow: none;
    margin: 0 4px 0 4px;
    width: 42px;
    height: 42px;
}

.contact-modal{
    border-radius: 4px;
    
    .note{
        // make the color gray
        color: #999;
    }
    
}